/* fonts style */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.container{
    max-width: 1140px;
    margin: 100px auto;

}

.heading{
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
    line-height: 10px;
}

.text{
    color: rgba(0, 0, 0, 0.5);
}

.btn{
    background-color: #E95A08;
    color: #FFFFFF;
    max-width: 300px;
    padding: 10px 90px;
    text-align: center;
}




/* header section */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.header-right ul{
    display: flex;
    list-style: none;
    gap: 50px;
}

.header-right li a{
    text-decoration: none;
    color: #252432;
}
.span1{
    color: #8987A1;
}

/* banner section */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-left h1{
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
}

.span2{
    color: #E95A08;
}

/* card section */
.card{
    text-align: center;
    
}


.card-right{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.card-right h4{
    font-size: 1.25rem;
    color: #111111;
    line-height: 10px;
}

/* plants section */
.plants-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.plants-container-left{
    width: 100%;
}
.trusted-badge{
    max-width: 100px;
    height: 100px;
    margin-top: -200px;
    margin-left: 490px;
}
.plants-container-right h2{
    line-height: 40px;
}
.plants-container-right li{
    margin-bottom: 15px;
}

/* deals section */
.deals{
    text-align: center;
}

/*  */









@media screen and (max-width: 576px) {
    .header{
        flex-direction: column;
        gap: 10px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-right img{
        width: 100%;
    }
    .card-right{
        grid-template-columns: repeat(2, 1fr);
        
    }
    .card-right-cards{
        max-width: 220px;
        gap: 0;
    }
    .card-right-cards button{
        width: 100%;
    }
    .card-right-cards img{
        width: 100%;

    }
    .plants-container{
        flex-direction: column;
    }
    .plants-container-left img{
    width: 100%;
}
    .trusted-badge{
        display: none;
    }
}